<nav class="navbar navbar-default navbar-dark bg-dark" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <%= link_to 'Pinterested', root_path, class: "navbar-brand" %>
    </div>
  <div class="nav navbar-brand">   
    <ul class="nav navbar navbar-right">
      <li> <%= link_to 'Home', home_home_path, class: "nav-link" %> </li>
      <li> <%= link_to 'About Me', home_about_path, class: "nav-link" %> </li>
      <li> <%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
      <li> <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
    </ul>
  </div>
</div><!-- /.container-fluid -->
</nav>